<!-- review-detail.component.html -->
<div class="page-container">
  <div class="diff-header">
    <h3>
      Submitted by You at
      {{
        pseudoCommitDto.commit.committedAt | date : "YYYY-MM-dd HH:mm" : "UTC"
      }}
    </h3>

    <h3>Commit message: {{ pseudoCommitDto.commit.message }}</h3>

    <div>
      <button (click)="onOpenPublishDialog()">Submit Review</button>

      <app-author-publish-dialog
        *ngIf="showPublishDialog"
        [count]="getAllDraftCount()"
        (confirm)="onPublishConfirmed()"
        (cancel)="showPublishDialog = false"
      ></app-author-publish-dialog>
    </div>
  </div>

  <div *ngFor="let f of fileKeys" class="diff-container">
    <app-author-diff-table
      #diffTable
      [selectedAssignmentId]="assignmentId"
      [gerritChangeId]="gerritChangeId"
      [oldText]="fileContents.get(f)?.[0]!"
      [newText]="fileContents.get(f)?.[1]!"
      [file]="f"
    ></app-author-diff-table>
  </div>
</div>
