<!-- review-detail.component.html -->
<div class="page-container">
  <div class="diff-header">
    <button class="btn-primary" (click)="navigateToCommitList()">
      Back to Commit List
    </button>
    <div *ngIf="pseudoCommitDto?.commit" class="header-info">
      <div class="author-time">
        <span class="author"> Submitted by You </span>
        <span class="time">
          {{
            pseudoCommitDto.commit.committedAt
              | date : "yyyy-MM-dd HH:mm" : "UTC"
          }}
        </span>
      </div>
      <div class="commit-msg">
        Commit Message: {{ pseudoCommitDto.commit.message }}
      </div>
    </div>
    <div class="header-actions">
      <button class="btn-primary" (click)="onOpenPublishDialog()">
        Submit Reply
      </button>
      <app-author-publish-dialog
        *ngIf="showPublishDialog"
        [count]="getAllDraftCount()"
        [isLeaving]="isLeavingPage"
        (confirm)="onPublishConfirmed()"
        (cancel)="showPublishDialog = false"
      ></app-author-publish-dialog>
    </div>
  </div>

  <app-version-selector
    [assignmentId]="assignmentId"
    [gerritChangeId]="gerritChangeId"
    (versionSelected)="onVersionSelected($event)"
  >
  </app-version-selector>

  <div *ngFor="let f of fileKeys" class="diff-container">
    <app-diff-table
      #diffTable
      [isAuthor]="true"
      [selectedAssignmentId]="assignmentId"
      [gerritChangeId]="gerritChangeId"
      [oldText]="fileContents.get(f)?.[0]!"
      [newText]="fileContents.get(f)?.[1]!"
      [file]="f"
    ></app-diff-table>
  </div>
</div>
