<div class="review-container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <h2>{{ groupProjectId }}</h2>
    <ul>
      <li
        *ngFor="let assignment of reviewAssignments"
        [class.active]="assignment.id === selectedAssignment?.id"
        (click)="select(assignment)"
      >
        {{ assignment.authorPseudonym }}
      </li>
    </ul>
  </aside>

  <!-- Detail pane -->
  <section class="detail" *ngIf="selectedAssignment">
    <h3>
      <!-- Reviewing {{ projectId }} by {{ selectedChangeRequest.authorPseudoName }}
        -->
      Reviewing {{ groupProjectId }} by {{ selectedAssignment.authorPseudonym }}
    </h3>
    <app-review-commit-list [selectedAssignment]="selectedAssignment">
    </app-review-commit-list>
  </section>
</div>
