.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.file-list ul {
  list-style: none;
  padding: 0;
}
.file-list li {
  cursor: pointer;
  padding: 0.5rem;
}
.file-list li:hover {
  background: #eef;
}
.diff-container {
  margin-top: 1rem;
}
