<h2>Reviewer Assignment</h2>

<label>
  Project:
  <select [(ngModel)]="projectId">
    <option *ngFor="let p of projects" [value]="p.id">
      {{ p.namespace }}/{{ p.name }}
    </option>
  </select>
</label>

<label>
  # Reviewers per student:
  <input
    type="number"
    [(ngModel)]="reviewerNum"
    [min]="1"
    [max]="projects.length - 1"
  />
</label>

<button (click)="assign()">Generate</button>

<table *ngIf="reviewAssignments.length">
  <thead>
    <tr>
      <th>Author</th>
      <th>Reviewer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of reviewAssignments">
      <td>{{ a.authorName }}</td>
      <td>{{ a.reviewerName }}</td>
    </tr>
  </tbody>
</table>
