/* comment-box.component.css */
.comment-box {
  border: 1px solid #ccc;
  margin: 4px 50px 4px 30px;
  padding: 6px;
  font-family: monospace;
  position: relative;

  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 2px 6px 2px rgba(60, 64, 67, 0.15);
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.author {
  font-weight: bold;
}

.comment-display {
  white-space: pre-wrap;
  word-break: break-word;
  margin: 10px;
  font-family: inherit;
}

.comment-box button {
  color: #1565c0;
  cursor: pointer;
  background: none;
  border: none;
}

.comment-box button:hover {
  text-decoration: underline;
}

.comment-box .buttons {
  text-align: right;
}

.comment-box textarea {
  width: 100%;
  height: 3em;
  resize: none;
  overflow: auto;
}

/* published */
.comment-box.published {
  background: #fff8c6;
}

.comment-box.published .btn-reply {
  background: none;
  border: none;
  color: #1565c0;
  cursor: pointer;
}

/* draft */
.comment-box.draft {
  background: #e8eaed;
}
.comment-box.draft button {
  margin-left: 4px;
}

/* new */
.comment-box.new {
  background: #e8eaed;
}
.comment-box.new textarea {
  width: 100%;
  height: 3em;
}
.comment-box.new button {
  margin-left: 4px;
}

.comment-box.update {
  background: #eef; /* slightly different UI hint */
}

/* placeholder */
.comment-box.placeholder {
  /* same height as a real comment-box plus margins */
  height: 4em;
  visibility: hidden;
}
