<!-- comment-box.component.html -->
<ng-container [ngSwitch]="variant">
  <!-- PUBLISHED -->
  <div
    *ngSwitchCase="'published'"
    class="comment-box published"
    (click)="$event.stopPropagation()"
  >
    <div class="header">
      <!-- <span class="author">{{ (comment as GerritCommentInfo).author }}</span> -->
      <span class="author">Author Name</span>

      <button class="btn-reply" (click)="onReply()">Reply</button>
    </div>
    <div class="body">
      {{ comment.message }}
    </div>
  </div>

  <!-- DRAFT -->
  <div
    *ngSwitchCase="'draft'"
    class="comment-box draft"
    (click)="$event.stopPropagation()"
  >
    <span class="author">Me</span>

    <textarea
      [(ngModel)]="comment.message"
      placeholder="Edit your draft…"
    ></textarea>
    <div class="buttons">
      <button (click)="onDelete()">Delete</button>
      <button (click)="onCancel()">Cancel</button>
      <button (click)="onSave()">Save</button>
    </div>
  </div>

  <!-- NEW -->
  <div
    *ngSwitchCase="'new'"
    class="comment-box new"
    (click)="$event.stopPropagation()"
  >
    <span class="author">Me</span>

    <textarea
      [(ngModel)]="comment.message"
      placeholder="Write a comment…"
    ></textarea>
    <div class="buttons">
      <button (click)="onCancel()">Cancel</button>
      <button (click)="onSave()">Save</button>
    </div>
  </div>

  <!-- PLACEHOLDER -->
  <div *ngSwitchCase="'placeholder'" class="comment-box placeholder"></div>
</ng-container>
