<div class="page-container">
  <h1>Projects</h1>

  <h1>Enter Repository URL</h1>
  <!-- Two-way binding for the URL input -->
  <input type="text" [(ngModel)]="repoUrl" placeholder="Enter repository URL" />

  <!-- Button triggers the fetchCommits method -->
  <button (click)="fetchGitLabCommits()">Fetch Commits</button>

  <!-- Display commits if available -->
  <div *ngIf="repoCommitList && repoCommitList.length">
    <ul>
      <li *ngFor="let repoCommit of repoCommitList">
        Commit ID: {{ repoCommit.short_id }} | Title: {{ repoCommit.title }} |
        Date:
        {{ repoCommit.committed_date }}
      </li>
    </ul>
  </div>

  <div *ngFor="let item of projectMap | keyvalue">
    {{ item.key }}
    <button (click)="onSelectProject(item.key)">Get Commits</button>
  </div>

  <div *ngIf="selectedProject != ''">
    <div *ngIf="changeList.length == 0">No changes found</div>
    <div *ngFor="let change of changeList">
      changeID:
      <a
        class="change-link"
        (click)="navigateToChangeDetails(change.change_id)"
      >
        {{ change.change_id }}
      </a>
      by {{ change.owner._account_id }} at {{ change.updated }}<br />
      Message: {{ change.subject }} <br /><br />
    </div>
  </div>
</div>
