/* Comment box styling */
.comment-box {
  width: 80%;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fef7e0;
  padding: 10px 0;
}

.comment-box textarea {
  width: 90%;
  margin: auto;
  padding: 5px;
  font-size: 12px;
  font-family: "Consolas", "Courier New", monospace;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Button container */
.comment-box-buttons {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.comment-box button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #3a5ddc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  align-self: flex-end;
}

.comment-box button:hover {
  background-color: #2b4bb7;
}

.comment-display {
  position: relative; /* Allows positioning of the delete icon */
  padding: 10px;
  background-color: #fef7e0;
  border-radius: 5px;
  font-family: "Consolas", "Courier New", monospace;
}
.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 16px;
  color: #d00; /* Red color */
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.delete-icon:hover {
  color: #a00;
}
