<!-- Comment Box -->
<div class="comment-box" (click)="$event.stopPropagation()">
  <ng-container *ngIf="edittable; else readOnlyTemplate">
    <textarea
      [(ngModel)]="commentMsg"
      placeholder="Write a comment..."
    ></textarea>
    <div class="comment-box-buttons">
      <button (click)="onCloseDraft()">Cancel</button>
      <button (click)="onSaveDraft()">Save</button>
    </div>
  </ng-container>

  <ng-template #readOnlyTemplate>
    <div class="comment-display">
      {{ existCommentInfo?.message }}

      <div class="comment-actions">
        <div class="comment-action" (click)="onDeleteDraft()">Discard</div>
        <div class="comment-action" (click)="onEditDraft()">Edit</div>
      </div>
    </div>
  </ng-template>
</div>
