<!-- Comment Box -->
<div class="comment-box" (click)="$event.stopPropagation()">
  <ng-container *ngIf="edittable; else readOnlyTemplate">
    <textarea [(ngModel)]="commentMsg" placeholder="Write a comment..."></textarea>
    <div class="comment-box-buttons">
      <button (click)="onCancel()">Cancel</button>
      <button (click)="makeDraftComment(commentMsg)">Add Comment</button>
    </div>
  </ng-container>
  <ng-template #readOnlyTemplate>
    <div class="comment-display">
      {{ commentMsg }}
    </div>
  </ng-template>
</div>
