.page-container {
  padding: 1rem;
}

.diff-container {
  margin-bottom: 2rem;
  border: 1px solid #ddd;
  position: relative;
}

:host ::ng-deep .hljs {
  background: transparent !important;
}

.tr-comment td {
  padding: 0;
  border: none;
}
