<!-- review-detail.component.html -->
<div class="page-container">
  <h2>Change {{ gerritChangeId }}</h2>

  <div *ngFor="let f of fileKeys">
    <ngx-side-by-side-diff
      [title]="f"
      [before]="fileContents.get(f)?.[0]"
      [after]="fileContents.get(f)?.[1]"
      [lineContextSize]="4"
      (selectedLineChange)="onLineClick(f, 'NEW', $event)"
      class="ngx-diff-light-theme"
    >
    </ngx-side-by-side-diff>

    <app-diff-table
      [gerritChangeId]="gerritChangeId"
      [oldText]="fileContents.get(f)?.[0]!"
      [newText]="fileContents.get(f)?.[1]!"
      [file]="f"
      [existedComments]="filteredExistedComments(f)"
      [draftComments]="filteredDraftComments(f)"
    ></app-diff-table>
  </div>
</div>
