Hello!

<button (click)="getProjectList()">Get Projects</button>

<h1>Projects</h1>
<ul>
  <li *ngFor="let project of projectList">
    id: {{ project.id }} - Status: {{ project.state }}<br />
  </li>
</ul>

<!-- <h1>Commits</h1>
<ul>
  <li *ngFor="let commit of commitList">
    id: {{ commit.id }} by {{ commit.owner.name }} - {{ commit.owner.email
    }}<br />
  </li>
</ul>

<h1>Anonymous Version Commits</h1>
<ul>
  <li *ngFor="let commit of anonymousCommitList">
    id: {{ commit.id }} by {{ commit.owner.name }} - {{ commit.owner.email
    }}<br />
  </li>
</ul> -->
