.diff-table {
  width: 100%;
  margin-top: 20px;
  border: #dfdfdf 1px solid;
  table-layout: fixed;
  border-spacing: 0;
}

.diff-scroll-x {
  overflow-x: auto;
}

.num-col {
  width: 32px;
  padding: 0;
  text-align: center;
  color: #aaaaaa;
  background-color: #f1f1f1;
  font-family: "Consolas", Courier, monospace;
  vertical-align: top;
}
.code-col {
  width: calc((100% - 80px) / 2);
  padding: 0;
  vertical-align: top;
}
.code-col pre {
  margin: 0;
  padding: 0 0 0 16px;
  line-height: 1.2;
  white-space: pre;
  font-size: 14.4px;
  font-family: "Consolas", Courier, monospace;
  display: block;
  min-width: 100%;
}

.diff-insert {
  background-color: #d6ffd6;
}
.diff-delete {
  background-color: #ffd6d6;
}

.comment-cell {
  background-color: #f9f9f9;
  padding: 4px;
}
