<div class="diff-container">
  <!-- Old Pane -->
  <div class="pane old-pane">
    <table class="diff-table">
      <ng-container *ngFor="let line of lines">
        <!-- code row -->
        <tr>
          <td class="num-col">{{ line.oldNumber || "-" }}</td>
          <td
            class="code-col"
            [ngClass]="{
              'diff-insert': line.type === 'insert',
              'diff-delete': line.type === 'delete'
            }"
          >
            <pre>{{ line.oldText }}</pre>
          </td>
        </tr>

        <!-- real comments on PARENT side -->
        <tr *ngIf="hasComments(line.newNumber, 'PARENT')" class="comment-cell">
          <td colspan="2">
            <ng-container
              *ngFor="let c of publishedFor(file, line.newNumber!, 'PARENT')"
            >
              <app-comment-box mode="published" [comment]="c"></app-comment-box>
            </ng-container>
            <ng-container
              *ngFor="let d of draftFor(file, line.newNumber!, 'PARENT')"
            >
              <app-comment-box mode="draft" [comment]="d"></app-comment-box>
            </ng-container>
          </td>
        </tr>

        <!-- placeholder when NEW has comments but OLD does not -->
        <tr
          *ngIf="
            !hasComments(line.newNumber, 'PARENT') &&
            hasComments(line.newNumber, 'REVISION')
          "
          class="comment-placeholder"
        >
          <td colspan="2">&nbsp;</td>
        </tr>
      </ng-container>
    </table>
  </div>

  <!-- New Pane -->
  <div class="pane new-pane">
    <table class="diff-table">
      <ng-container *ngFor="let line of lines">
        <!-- code row -->
        <tr>
          <td class="num-col">{{ line.newNumber || "-" }}</td>
          <td
            class="code-col"
            [ngClass]="{
              'diff-insert': line.type === 'insert',
              'diff-delete': line.type === 'delete'
            }"
          >
            <pre>{{ line.newText }}</pre>
          </td>
        </tr>

        <!-- placeholder when OLD has comments but NEW does not -->
        <tr
          *ngIf="
            !hasComments(line.newNumber, 'REVISION') &&
            hasComments(line.newNumber, 'PARENT')
          "
          class="comment-placeholder"
        >
          <td colspan="2">&nbsp;</td>
        </tr>

        <!-- real comments on REVISION side -->
        <tr
          *ngIf="hasComments(line.newNumber, 'REVISION')"
          class="comment-cell"
        >
          <td colspan="2">
            <ng-container
              *ngFor="let c of publishedFor(file, line.newNumber!, 'REVISION')"
            >
              <app-comment-box mode="published" [comment]="c"></app-comment-box>
            </ng-container>
            <ng-container
              *ngFor="let d of draftFor(file, line.newNumber!, 'REVISION')"
            >
              <app-comment-box mode="draft" [comment]="d"></app-comment-box>
            </ng-container>
          </td>
        </tr>

        <!-- placeholder when NEW has comments but OLD does not -->
        <tr
          *ngIf="
            !hasComments(line.newNumber, 'REVISION') &&
            hasComments(line.newNumber, 'PARENT')
          "
          class="comment-placeholder"
        >
          <td colspan="2">&nbsp;</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>
