.diff-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  border-spacing: 0;
}
.num-col {
  width: 40px;
  padding: 0;
  text-align: center;
  color: #999;
  vertical-align: top;
}
.code-col {
  width: calc((100% - 80px) / 2);
  vertical-align: top;
}
.code-col pre {
  margin: 0;
  line-height: 1.2;
  white-space: pre;
  font-family: monospace;
}
.new-code.diff-insert {
  background-color: #d6ffd6;
}
.new-code.diff-delete {
  background-color: #ffd6d6;
}
.comment-cell {
  background-color: #f9f9f9;
}
