<div class="page-container">
  <h1>ChangeId: {{ changeId }}</h1>

  <h2>Modified Files:</h2>
  <div *ngFor="let modiFile of modiFileMap | keyvalue">
    <h3 class="file-link" (click)="getFileDiff(modiFile.key)">
      {{ modiFile.key }}
    </h3>
  </div>

  <div *ngIf="selectedFile">
    <div class="header-labels">
      <p class="label left">Original Version</p>
      <p class="label right">Changed Version</p>
    </div>

    <!-- Comment Area -->
    <div class="comment-area">
      <div *ngFor="let diffLine of diffContentList" class="diff-row">
        <!-- Left Column: Original Content -->
        <div class="diff-column left" (click)="onLineClick(diffLine, 'PARENT')">
          <div class="diff-line-container">
            <div class="line-number">
              {{ diffLine.parent_line_num || "" }}
            </div>

            <div
              class="line-content white-space-preserve"
              [ngClass]="getDiffClass(diffLine, 'PARENT')"
            >
              {{ diffLine.parent_content }}
            </div>
          </div>

          <!-- Comment Box for Left Column -->
          <div *ngIf="selectedLine === diffLine && selectedSide === 'PARENT'">
            <app-comment-box
              [changeId]="changeId"
              [revisionId]="revisionId"
              [selectedFile]="selectedFile"
              [selectedSide]="'PARENT'"
              [selectedLineNum]="diffLine.parent_line_num"
              [edittable]="true"
              (closeCommentBox)="onCommentCancel()"
            ></app-comment-box>
          </div>

          <div
            *ngFor="
              let comment of getCommentsForLine(
                diffLine.parent_line_num,
                'PARENT'
              )
            "
          >
            <app-comment-box
              [commentMsg]="comment.message"
              [edittable]="false"
            ></app-comment-box>
          </div>
        </div>

        <!-- Right Column: Changed Content -->
        <div
          class="diff-column right"
          (click)="onLineClick(diffLine, 'REVISION')"
        >
          <div class="diff-line-container">
            <div class="line-number">
              {{ diffLine.revision_line_num || "" }}
            </div>
            <div
              class="line-content white-space-preserve"
              [ngClass]="getDiffClass(diffLine, 'REVISION')"
            >
              {{ diffLine.revision_content }}
            </div>
          </div>

          <!-- Comment Box for Right Column -->
          <div *ngIf="selectedLine === diffLine && selectedSide === 'REVISION'">
            <app-comment-box
              [changeId]="changeId"
              [revisionId]="revisionId"
              [selectedFile]="selectedFile"
              [selectedSide]="'REVISION'"
              [selectedLineNum]="diffLine.revision_line_num"
              [edittable]="true"
              (closeCommentBox)="onCommentCancel()"
            ></app-comment-box>
          </div>

          <div
            *ngFor="
              let comment of getCommentsForLine(
                diffLine.revision_line_num,
                'REVISION'
              )
            "
          >
            <app-comment-box
              [commentMsg]="comment.message"
              [edittable]="false"
            ></app-comment-box>
          </div>
        </div>

        <!-- Show Existing Comments -->
      </div>
    </div>
    <button (click)="onRefreshComment()">Refresh</button>
  </div>
</div>
