<div class="page-container">
  <h1>ChangeId: {{ changeId }}</h1>

  <h2>Modified Files:</h2>
  <div *ngFor="let modiFile of modiFileMap | keyvalue">
    <h3>{{ modiFile.key }}</h3>
    <button (click)="getFileDiff(modiFile.key)">Get File Content</button>

    <div *ngIf="modiFile.key === selectedFile">
      <div *ngFor="let line of diffContent">
        <div
          [ngClass]="{
            'red-line': line.type === 'a',
            'green-line': line.type === 'b',
            'black-line': line.type === 'ab'
          }"
          class="white-space-preserve"
        >
          {{ line.content.join("\n") }}
        </div>
      </div>
    </div>
  </div>
</div>
