.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.white-space-preserve {
  white-space: pre-wrap;
  font-family: monospace;
}

.red-line {
  color: red;
}

.green-line {
  color: green;
}

.black-line {
  color: black;
}
