<div class="page-container">
  <h1>ChangeId: {{ changeId }}</h1>

  <h2>Modified Files:</h2>
  <div *ngFor="let modiFile of modiFileMap | keyvalue">
    <h3>{{ modiFile.key }}</h3>
    <button (click)="getFileDiff(modiFile.key)">Get File Content</button>

    <div *ngIf="modiFile.key === selectedFile">
      <div *ngFor="let line of diffContent">
        <div
          [ngClass]="{
            'red-line': line.a && line.a.length > 0,
            'green-line': line.b && line.b.length > 0,
            'black-line': line.ab && line.ab.length > 0
          }"
          style="white-space: pre-line"
        >
          <ng-container *ngIf="line.a && line.a.length > 0">
            {{ line.a.join("\n") }}
          </ng-container>
          <ng-container *ngIf="line.b && line.b.length > 0">
            {{ line.b.join("\n") }}
          </ng-container>
          <ng-container *ngIf="line.ab && line.ab.length > 0">
            {{ line.ab.join("\n") }}
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
