<table mat-table [dataSource]="commitList" class="mat-elevation-z1">
  <!-- Status Column -->
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Review Status</th>
    <td mat-cell *matCellDef="let e">
      <mat-chip selected>
        {{ e.status }}
      </mat-chip>
    </td>
  </ng-container>

  <!-- Hash Column -->
  <ng-container matColumnDef="hash">
    <th mat-header-cell *matHeaderCellDef>Commit Hash</th>
    <td mat-cell *matCellDef="let e">
      <a [routerLink]="['/change-detail', e.id]">{{ e.commit.shortId }}</a>
    </td>
  </ng-container>

  <!-- Message Column -->
  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Commit Message</th>
    <td mat-cell *matCellDef="let e">{{ e.commit.message }}</td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Commit Date</th>
    <td mat-cell *matCellDef="let e">
      {{ e.commit.committedDate | date : "medium" }}
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let e">
      <button mat-button color="primary" (click)="requestReview(e)">
        Request Review
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
